{
    "presets": [
        "env"
    ],
    "plugins": [
        "add-module-exports",
        [
            "transform-runtime",
            {
                "helpers": false,
                "polyfill": false,
                "regenerator": true,
                "moduleName": "babel-runtime"
            }
        ]
    ],
    "env": {
        "cjs": {
            "presets": [
                [
                    "env",
                    {
                        "targets": {
                            "node": "6"
                        }
                    }
                ]
            ],
            "plugins": [
                "add-module-exports",
                [
                    "transform-runtime",
                    {
                        "helpers": false,
                        "polyfill": false,
                        "regenerator": true,
                        "moduleName": "babel-runtime"
                    }
                ]
            ]
        },
        "es": {
            "presets": [
                [
                    "env",
                    {
                        "targets": {
                            "browsers": [
                                ">0.25%",
                                "not ie 11",
                                "not op_mini all"
                            ]
                        },
                        "modules": false
                    }
                ]
            ],
            "plugins": [
                [
                    "transform-runtime",
                    {
                        "helpers": false,
                        "polyfill": false,
                        "regenerator": true,
                        "moduleName": "babel-runtime"
                    }
                ]
            ]
        },
        "umd": {
            "presets": [
                [
                    "env",
                    {
                        "targets": {
                            "browsers": [
                                ">0.25%",
                                "not ie 11",
                                "not op_mini all"
                            ]
                        }
                    }
                ]
            ],
            "plugins": [
                "add-module-exports",
                [
                    "transform-runtime",
                    {
                        "helpers": false,
                        "polyfill": false,
                        "regenerator": true,
                        "moduleName": "babel-runtime"
                    }
                ]
            ]
        },
        "test": {
            "presets": [
                [
                    "env",
                    {
                        "targets": {
                            "node": "6"
                        }
                    }
                ]
            ],
            "plugins": [
                "add-module-exports",
                [
                    "transform-runtime",
                    {
                        "helpers": false,
                        "polyfill": false,
                        "regenerator": true,
                        "moduleName": "babel-runtime"
                    }
                ]
            ]
        }
    }
}