{
    "parser": "babel-eslint",
    "rules": {
      "max-len": 0,
      "no-plusplus": 0,
      "comma-dangle": ["error", "never"],
      "brace-style": ["error", "stroustrup"],
      "no-console": 0,
      "padded-blocks": 0,
      "indent": ["error", 4, {"SwitchCase": 1}],
      "spaced-comment": 1,
      "quotes": ["error", "double", { "allowTemplateLiterals": true }],
      "import/prefer-default-export": "off",
      "consistent-return": 0,
      "no-useless-escape": 0,
      "no-underscore-dangle": 0,
      "no-unused-vars": 0,
      "no-param-reassign": 0,
      "no-case-declarations": 0,
      "prefer-destructuring": 0,
      "func-names": 0,
      "camelcase": 0,
      "no-cond-assign": 0
    },
    "extends": "airbnb-base",
    "env": {
      "es6": true,
      "node": true,
      "browser": true,
      "jest": true
    }
  }