# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
bower_components
node_modules

# Workspace
*.sublime-workspace
.idea/
/demo/bower_components

# Coverage directory used by tools like istanbul
coverage

# Others
.DS_Store
.vscode
package-lock.json