# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules
bower_components
components

# Workspace
*.sublime-workspace
.idea
.vscode

# Coverage directory used by tools like istanbul
coverage

# Others
.DS_Store
package-lock.json
*.map
docs
tmp
demo
**/.gitkeep